<template>
  <q-page padding class="primary-background">
    <div class="row">
      <div class="col-12">
        <q-card flat class="primary-background">
          <q-tabs
            v-model="tab"
            dense
            class="text-white"
            active-color="blue-4"
            indicator-color="blue-4"
            align="justify"
            narrow-indicator
          >
            <q-tab name="tombola" label="Tombola" />
            <q-tab name="registro" label="Registro" />
          </q-tabs>

          <q-separator />

          <q-tab-panels v-model="tab" animated class="primary-background">
            <q-tab-panel name="tombola">
              <div class="row">
                <div class="col-12 text-center">
                  <div class="text-h6">Número</div>
                  <span class="text-h1 text-bold">{{
                    numeroActual ? numeroActual : "--"
                  }}</span>
                </div>
                <div class="col-12 text-center">
                  <q-btn
                    v-if="!switchAuto"
                    :label="numeroActual ? 'Siguiente número' : 'Empezar'"
                    rounded
                    icon-right="arrow_forward_ios"
                    color="blue-4"
                    flat
                    @click="siguienteNumero"
                  ></q-btn>
                </div>
                <div class="col-12 text-center">
                  <q-btn
                    v-if="!switchAuto"
                    label="Automatico"
                    rounded
                    icon-right="smart_toy"
                    color="blue-4"
                    flat
                    @click="automatico"
                  ></q-btn>
                </div>
                <div class="col-12 text-center">
                  <q-btn
                    v-if="switchAuto"
                    label="Detener"
                    rounded
                    icon-right="stop"
                    color="blue-4"
                    flat
                    @click="detenerIntervalo"
                  ></q-btn>
                </div>
                <div
                  class="col-12 text-body1 text-bold q-py-md"
                  v-if="historial.length > 0"
                >
                  Historial de números
                </div>
                <div
                  class="col-2 text-center"
                  v-for="(item, index) in historial"
                  :key="index"
                >
                  <span
                    :class="`dot glossy ${
                      index === 5 ? 'bg-green-7' : 'bg-blue-7'
                    }`"
                    >{{ item.numero }}</span
                  >
                </div>
                <div class="col-12 text-center q-pt-md">
                  <q-btn
                    label="Reiniciar juego"
                    rounded
                    icon-right="refresh"
                    class="danger-color"
                    flat
                    @click="dialogReinicio = true"
                    v-if="historial.length > 0"
                  ></q-btn>
                </div>
              </div>
            </q-tab-panel>

            <q-tab-panel name="registro">
              <div class="row">
                <div
                  class="col-xs-2 col-md-1 q-pa-xs"
                  v-for="(item, index) in disponibles"
                  :key="index"
                >
                  <span
                    :class="`dot glossy ${
                      item.disponible ? 'bg-red-7' : 'bg-green-7'
                    }`"
                    >{{ item.numero }}</span
                  >
                </div>
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </div>
    </div>
    <!-- Dialog para cuando se llegue al límite -->
    <q-dialog v-model="dialogLimite">
      <q-card>
        <q-card-section
          >Llegó al límite de números permitidos, reinicie el juego por
          favor</q-card-section
        >
        <q-card-section class="text-center">
          <q-btn
            label="Cerrar"
            flat
            color="primary"
            rounded
            @click="dialogLimite = false"
          ></q-btn>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Dialog para reiniciar el juego -->
    <q-dialog v-model="dialogReinicio">
      <q-card>
        <q-card-section
          >¿Está seguro/a que desea reiniciar el juego?, se perderá toda la
          información generada?</q-card-section
        >
        <q-card-section class="text-center">
          <q-btn
            label="No"
            flat
            color="primary"
            rounded
            @click="dialogReinicio = false"
            icon="close"
            class="q-pr-lg"
          ></q-btn>
          <q-btn
            label="Sí"
            flat
            color="positive"
            rounded
            @click="
              () => {
                iniciarDatos();
                sincronizarLocalStorage();
                dialogReinicio = false;
              }
            "
            icon="check"
            class="q-pl-lg"
          ></q-btn>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Dialog automatico -->
    <q-dialog v-model="dialogAuto">
      <Auto />
    </q-dialog>
  </q-page>
</template>

<script setup>
import { ref } from "vue";
import { useQuasar } from "quasar";
import Auto from "../components/AutoComponent.vue";

// Variables
const $q = useQuasar();
const tab = ref("tombola");
const disponibles = ref([]);
const historial = ref([]);
const numeroActual = ref(null);
const switchAuto = ref(false);
let intervalo = null;

const dialogLimite = ref(false);
const dialogReinicio = ref(false);
const dialogAuto = ref(false);

// Functions
const siguienteNumero = () => {
  // Verificamos que no se haya llegado al límite
  const numeroDisponibles = disponibles.value.filter(
    (item) => item.disponible === true
  );
  if (numeroDisponibles.length === 0) {
    return (dialogLimite.value = true);
  }
  // Generamos un nuevo número
  const numero = Math.floor(Math.random() * 90 + 1);
  // Verificamos que este disponible
  let obtenerNumero = disponibles.value.filter(
    (disponible) => disponible.numero === numero
  );
  if (obtenerNumero[0].disponible) {
    numeroActual.value = numero;
    obtenerNumero[0].disponible = false;
  } else {
    return siguienteNumero();
  }
  registrarHistorial(obtenerNumero[0]);
  sincronizarLocalStorage();
};

const registrarHistorial = (itemNumero) => {
  if (historial.value.length === 6) {
    historial.value.splice(0, 1);
  }
  historial.value.push(itemNumero);
};

const iniciarDatos = () => {
  disponibles.value = [];
  for (let i = 1; i <= 90; i++) {
    const numero = {
      numero: i,
      disponible: true,
    };
    disponibles.value.push(numero);
  }
  numeroActual.value = null;
  historial.value = [];
};

const sincronizarLocalStorage = () => {
  $q.localStorage.set("disponibles", disponibles.value);
  $q.localStorage.set("historial", historial.value);
  $q.localStorage.set("numeroActual", numeroActual.value);
};

const recuperarLocalStorage = () => {
  disponibles.value = $q.localStorage.getItem("disponibles");
  historial.value = $q.localStorage.getItem("historial");
  numeroActual.value =
    $q.localStorage.getItem("numeroActual") === "null"
      ? null
      : $q.localStorage.getItem("numeroActual");
};

const automatico = () => {
  switchAuto.value = true;
  const numeroDisponibles = disponibles.value.filter(
    (item) => item.disponible === true
  );
  if (numeroDisponibles.length === 0) {
    detenerIntervalo();
    return (dialogLimite.value = true);
  }
  const synth = window.speechSynthesis;
  let text = "";
  siguienteNumero();
  text = numeroActual.value.toString();
  const utterThis = new SpeechSynthesisUtterance(text);
  synth.speak(utterThis);
  intervalo = setInterval(() => {
    siguienteNumero();
    text = numeroActual.value.toString();
    const utterThis = new SpeechSynthesisUtterance(text);
    synth.speak(utterThis);
  }, 4000);
};

const detenerIntervalo = () => {
  switchAuto.value = false;
  clearInterval(intervalo);
};
// Boot
iniciarDatos();
if ($q.localStorage.getItem("numeroActual")) {
  recuperarLocalStorage();
}
</script>
<style scoped>
.dot {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 1vh;
}
</style>
