<template>
  <q-card class="primary-background">
    <q-card-section>
      <h1 class="text-bold">40</h1>
    </q-card-section>
    <q-card-section>
      <q-btn
        color="blue-4"
        label="Empezar"
        flat
        icon-right="start"
        @click="test"
      ></q-btn>
    </q-card-section>
  </q-card>
</template>

<script setup>
const props = defineProps({
  open: {
    type: Boolean,
    default: false,
  },
});
// Functions
const test = () => {
  const synth = window.speechSynthesis;
  let text = "56";
  const utterThis = new SpeechSynthesisUtterance(text);
  synth.speak(utterThis);
};
</script>

<style></style>
