.primary-background {
  background-color: #44494f;
  color: white;
}

.secondary-background {
  background-color: #1c1d22;
  color: white;
}

.danger-color {
  color: #e05555;
}

.primary-color {
  color: #589cef;
}
